xs/register_response.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ResponseEnvelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="exceptionName" type="xs:string" minOccurs="1" maxOccurs="1" />
				<xs:element name="exceptionMessage" type="xs:string" minOccurs="1" maxOccurs="1" />
				<xs:element name="state" type="statevalues" minOccurs="1" maxOccurs="1" />
				<xs:element name="data" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="uniquePlayerIdentifier">
		<xs:sequence>
			<xs:element name="uniquePlayerID" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="statevalues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="ERROR" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>